[{
    "{{ output.results[index].stdout_lines[3].split(':')[1] | replace(" ","") }}": "{{ output.results[index].stdout_lines[4].split(':')[1] | replace(" ","") }}",
    "{{ output.results[index].stdout_lines[6].split(':')[1] | replace(" ","") }}": "{{ output.results[index].stdout_lines[7].split(':')[1] | replace(" ","") }}",
    "{{ output.results[index].stdout_lines[9].split(':')[1] | replace(" ","") }}": "{{ output.results[index].stdout_lines[10].split(':')[1] | replace(" ","") }}"
}]