[{
    "entry_type_name": {{ output.results[index].stdout_lines[1].split(',')[0] }},
    "state_name": {{ output.results[index].stdout_lines[1].split(',')[1] }},
     "sys_end_time": {{ output.results[index].stdout_lines[1].split(',')[2] }}
}]
