[{
    "Storage Group Configuration": [{
        "address": "{{ output.results[index].stdout_lines[5].split()[0] }}", 
        "sgid": "{{ output.results[index].stdout_lines[5].split()[1] }}",
        "default": "{{ output.results[index].stdout_lines[5].split()[2] }}",
        "datatag": "{{ output.results[index].stdout_lines[5].split()[3] }}",
        "name": "{{ output.results[index].stdout_lines[5].split()[4] }}"},

        {"address": "{{ output.results[index].stdout_lines[6].split()[0] }}", 
        "sgid": "{{ output.results[index].stdout_lines[6].split()[1] }}",
        "default": "{{ output.results[index].stdout_lines[6].split()[2] }}",
        "datatag": "{{ output.results[index].stdout_lines[6].split()[3] }}",
        "name": "{{ output.results[index].stdout_lines[6].split()[4] }}"}],

    "Storage Group Statistics": [{
        "address": "{{ output.results[index].stdout_lines[10].split()[0] }}", 
        "sgid": "{{ output.results[index].stdout_lines[10].split()[1] }}",
        "state": "{{ output.results[index].stdout_lines[10].split()[2] }}",
        "numpaths": "{{ output.results[index].stdout_lines[10].split()[3] }}",
        "numdroppen ": "{{ output.results[index].stdout_lines[10].split()[4] }}"},

        {"address": "{{ output.results[index].stdout_lines[11].split()[0] }}", 
        "sgid": "{{ output.results[index].stdout_lines[11].split()[1] }}",
        "state": "{{ output.results[index].stdout_lines[11].split()[2] }}",
        "numpaths": "{{ output.results[index].stdout_lines[11].split()[3] }}",
        "numdroppen": "{{ output.results[index].stdout_lines[11].split()[4] }}"}],

    "Storage Group Paths": [
        {"address": "{{ output.results[index].stdout_lines[15].split()[0] }}", 
        "sgid": "{{ output.results[index].stdout_lines[15].split()[1] }}",
        "pathid": "{{ output.results[index].stdout_lines[15].split()[2] }}",
        "pathstate": "{{ output.results[index].stdout_lines[15].split()[3] }}",
        "pathname": "{{ output.results[index].stdout_lines[15].split()[4] }}"},

       {"address": "{{ output.results[index].stdout_lines[16].split()[0] }}", 
        "sgid": "{{ output.results[index].stdout_lines[16].split()[1] }}",
        "pathid": "{{ output.results[index].stdout_lines[16].split()[2] }}",
        "pathstate": "{{ output.results[index].stdout_lines[16].split()[3] }}",
        "pathname": "{{ output.results[index].stdout_lines[16].split()[4] }}"},

       {"address": "{{ output.results[index].stdout_lines[17].split()[0] }}", 
        "sgid": "{{ output.results[index].stdout_lines[17].split()[1] }}",
        "pathid": "{{ output.results[index].stdout_lines[17].split()[2] }}",
        "pathstate": "{{ output.results[index].stdout_lines[17].split()[3] }}",
        "pathname": "{{ output.results[index].stdout_lines[17].split()[4] }}"},

        {"address": "{{ output.results[index].stdout_lines[18].split()[0] }}", 
        "sgid": "{{ output.results[index].stdout_lines[18].split()[1] }}",
        "pathid": "{{ output.results[index].stdout_lines[18].split()[2] }}",
        "pathstate": "{{ output.results[index].stdout_lines[18].split()[3] }}",
        "pathname": "{{ output.results[index].stdout_lines[18].split()[4] }}"},

        {"address": "{{ output.results[index].stdout_lines[19].split()[0] }}", 
        "sgid": "{{ output.results[index].stdout_lines[19].split()[1] }}",
        "pathid": "{{ output.results[index].stdout_lines[19].split()[2] }}",
        "pathstate": "{{ output.results[index].stdout_lines[19].split()[3] }}",
        "pathname": "{{ output.results[index].stdout_lines[19].split()[4] }}"},

        {"address": "{{ output.results[index].stdout_lines[20].split()[0] }}", 
        "sgid": "{{ output.results[index].stdout_lines[20].split()[1] }}",
        "pathid": "{{ output.results[index].stdout_lines[20].split()[2] }}",
        "pathstate": "{{ output.results[index].stdout_lines[20].split()[3] }}",
        "pathname": "{{ output.results[index].stdout_lines[20].split()[4] }}"},

        {"address": "{{ output.results[index].stdout_lines[21].split()[0] }}", 
        "sgid": "{{ output.results[index].stdout_lines[21].split()[1] }}",
        "pathid": "{{ output.results[index].stdout_lines[21].split()[2] }}",
        "pathstate": "{{ output.results[index].stdout_lines[21].split()[3] }}",
        "pathname": "{{ output.results[index].stdout_lines[21].split()[4] }}"},

        {"address": "{{ output.results[index].stdout_lines[22].split()[0] }}", 
        "sgid": "{{ output.results[index].stdout_lines[22].split()[1] }}",
        "pathid": "{{ output.results[index].stdout_lines[22].split()[2] }}",
        "pathstate": "{{ output.results[index].stdout_lines[22].split()[3] }}",
        "pathname": "{{ output.results[index].stdout_lines[22].split()[4] }}"}]

}]