[{
    "DB_NAME": "{{ output.results[index].stdout_lines[3].split(' ')[0] }}",
    "LAST_BACKUP": "{{ output.results[index].stdout_lines[3].split('                                                                                                                              ')[1] }}"
}]