[{
 "name": "{{ output.results[index].stdout_lines[5] }}",
 "file":"{{ output.results[index].stdout_lines[7].split()[0] }}",
 "status":"{{ output.results[index].stdout_lines[7].split()[1] }}",
 "enabled":"{{ output.results[index].stdout_lines[7].split()[2] }}"
},
{
 "name": "{{ output.results[index].stdout_lines[9] }}",
 "file":"{{ output.results[index].stdout_lines[11].split()[0] }}",
 "status":"{{ output.results[index].stdout_lines[11].split()[1] }}",
 "enabled":"{{ output.results[index].stdout_lines[11].split()[2] }}"
},
{
 "name": "{{ output.results[index].stdout_lines[13] }}",
 "file":"{{ output.results[index].stdout_lines[20].split()[0] }}",
 "status":"{{ output.results[index].stdout_lines[20].split()[1] }}",
 "enabled":"{{ output.results[index].stdout_lines[20].split()[2] }}"
},
{
 "name": "{{ output.results[index].stdout_lines[22] }}",
 "file":"{{ output.results[index].stdout_lines[24].split()[0] }}",
 "status":"{{ output.results[index].stdout_lines[24].split()[1] }}",
 "enabled":"{{ output.results[index].stdout_lines[24].split()[2] }}"
},
{
 "name": "{{ output.results[index].stdout_lines[26] }}",
 "file":"{{ output.results[index].stdout_lines[33].split()[0] }}",
 "status":"{{ output.results[index].stdout_lines[33].split()[1] }}",
 "enabled":"{{ output.results[index].stdout_lines[33].split()[2] }}"
},
{
 "name": "{{ output.results[index].stdout_lines[35] }}",
 "file":"{{ output.results[index].stdout_lines[37].split()[0] }}",
 "status":"{{ output.results[index].stdout_lines[37].split()[1] }}",
 "enabled":"{{ output.results[index].stdout_lines[37].split()[2] }}"
},
{
 "name": "{{ output.results[index].stdout_lines[39] }}",
 "file":"{{ output.results[index].stdout_lines[41].split()[0] }}",
 "status":"{{ output.results[index].stdout_lines[41].split()[1] }}",
 "enabled":"{{ output.results[index].stdout_lines[41].split()[2] }}"
},
{
 "name": "{{ output.results[index].stdout_lines[48] }}",
 "file":"{{ output.results[index].stdout_lines[50].split()[0] }}",
 "status":"{{ output.results[index].stdout_lines[50].split()[1] }}",
 "enabled":"{{ output.results[index].stdout_lines[50].split()[2] }}"
},
{
 "name": "{{ output.results[index].stdout_lines[52] }}",
 "file":"{{ output.results[index].stdout_lines[54].split()[0] }}",
 "status":"{{ output.results[index].stdout_lines[54].split()[1] }}",
 "enabled":"{{ output.results[index].stdout_lines[54].split()[2] }}"
},
{
 "name": "{{ output.results[index].stdout_lines[61] }}",
 "file":"{{ output.results[index].stdout_lines[63].split()[0] }}",
 "status":"{{ output.results[index].stdout_lines[63].split()[1] }}",
 "enabled":"{{ output.results[index].stdout_lines[63].split()[2] }}"
},
{
 "name": "{{ output.results[index].stdout_lines[65] }}",
 "file":"{{ output.results[index].stdout_lines[67].split()[0] }}",
 "status":"{{ output.results[index].stdout_lines[67].split()[1] }}",
 "enabled":"{{ output.results[index].stdout_lines[67].split()[2] }}"
}]