[{
    "database_name": {{ db_outputs.results[index].stdout_lines[2].split(' ')[1] replace(" ","") }},
    "database_size_in_gb": "{{ db_outputs.results[index].stdout_lines[2].split('           ')[1] replace("    ","") }}"
}]
