[{
    "ENTRY_TYPE_NAME": {{ output.results[index].stdout_lines[1].split(',')[0] }},
    "STATE_NAME": {{ output.results[index].stdout_lines[1].split(',')[1] }},
    "SYS_END_TIME": {{ output.results[index].stdout_lines[1].split(',')[2] }}
}]
