[{% for data in output.results[index].stdout_lines %}
    {% if loop.length == 1 %}
        {
            "USER_NAME": "",
            "USER_DEACTIVATED": ""
        }
    {% elif loop.index > 1 and loop.index <= loop.length-1 %}
        {
            "USER_NAME": {{ data.split(',')[0] }},
            "USER_DEACTIVATED": {{ data.split(',')[1] }}
        },
    {% elif loop.index == loop.length %}
        {
            "USER_NAME": {{ data.split(',')[0] }},
            "USER_DEACTIVATED": {{ data.split(',')[1] }}
        }
    {% endif %}
{% endfor %}]
