[{
 "name": "{{ output.results[index].stdout_lines[5] }}",
 "file":"{{ output.results[index].stdout_lines[6].split()[0] }}",
 "status":"{{ output.results[index].stdout_lines[6].split()[1] }}",
 "enabled":"{{ output.results[index].stdout_lines[6].split()[2] }}"
},
{
 "name": "{{ output.results[index].stdout_lines[8] }}",
 "file":"{{ output.results[index].stdout_lines[9].split()[0] }}",
 "status":"{{ output.results[index].stdout_lines[9].split()[1] }}",
 "enabled":"{{ output.results[index].stdout_lines[9].split()[2] }}"
},
{
 "name": "{{ output.results[index].stdout_lines[11] }}",
 "file":"{{ output.results[index].stdout_lines[12].split()[0] }}",
 "status":"{{ output.results[index].stdout_lines[12].split()[1] }}",
 "enabled":"{{ output.results[index].stdout_lines[12].split()[2] }}"
},
{
 "name": "{{ output.results[index].stdout_lines[19] }}",
 "file":"{{ output.results[index].stdout_lines[20].split()[0] }}",
 "status":"{{ output.results[index].stdout_lines[20].split()[1] }}",
 "enabled":"{{ output.results[index].stdout_lines[20].split()[2] }}"
},
{
 "name": "{{ output.results[index].stdout_lines[22] }}",
 "file":"{{ output.results[index].stdout_lines[23].split()[0] }}",
 "status":"{{ output.results[index].stdout_lines[23].split()[1] }}",
 "enabled":"{{ output.results[index].stdout_lines[23].split()[2] }}"
},
{
 "name": "{{ output.results[index].stdout_lines[25] }}",
 "file":"{{ output.results[index].stdout_lines[26].split()[0] }}",
 "status":"{{ output.results[index].stdout_lines[26].split()[1] }}",
 "enabled":"{{ output.results[index].stdout_lines[26].split()[2] }}"
},
{
 "name": "{{ output.results[index].stdout_lines[33] }}",
 "file":"{{ output.results[index].stdout_lines[34].split()[0] }}",
 "status":"{{ output.results[index].stdout_lines[34].split()[1] }}",
 "enabled":"{{ output.results[index].stdout_lines[34].split()[2] }}"
},
{
 "name": "{{ output.results[index].stdout_lines[36] }}",
 "file":"{{ output.results[index].stdout_lines[37].split()[0] }}",
 "status":"{{ output.results[index].stdout_lines[37].split()[1] }}",
 "enabled":"{{ output.results[index].stdout_lines[37].split()[2] }}"
},
{
 "name": "{{ output.results[index].stdout_lines[39] }}",
 "file":"{{ output.results[index].stdout_lines[40].split()[0] }}",
 "status":"{{ output.results[index].stdout_lines[40].split()[1] }}",
 "enabled":"{{ output.results[index].stdout_lines[40].split()[2] }}"
},
{
 "name": "{{ output.results[index].stdout_lines[47] }}",
 "file":"{{ output.results[index].stdout_lines[48].split()[0] }}",
 "status":"{{ output.results[index].stdout_lines[48].split()[1] }}",
 "enabled":"{{ output.results[index].stdout_lines[48].split()[2] }}"
},
{
 "name": "{{ output.results[index].stdout_lines[50] }}",
 "file":"{{ output.results[index].stdout_lines[51].split()[0] }}",
 "status":"{{ output.results[index].stdout_lines[51].split()[1] }}",
 "enabled":"{{ output.results[index].stdout_lines[51].split()[2] }}"
},
{
 "name": "{{ output.results[index].stdout_lines[53] }}",
 "file":"{{ output.results[index].stdout_lines[54].split()[0] }}",
 "status":"{{ output.results[index].stdout_lines[54].split()[1] }}",
 "enabled":"{{ output.results[index].stdout_lines[54].split()[2] }}"
},
{
 "name": "{{ output.results[index].stdout_lines[61] }}",
 "file":"{{ output.results[index].stdout_lines[62].split()[0] }}",
 "status":"{{ output.results[index].stdout_lines[62].split()[1] }}",
 "enabled":"{{ output.results[index].stdout_lines[62].split()[2] }}"
},
{
 "name": "{{ output.results[index].stdout_lines[64] }}",
 "file":"{{ output.results[index].stdout_lines[65].split()[0] }}",
 "status":"{{ output.results[index].stdout_lines[65].split()[1] }}",
 "enabled":"{{ output.results[index].stdout_lines[65].split()[2] }}"
},
{
 "name": "{{ output.results[index].stdout_lines[67] }}",
 "file":"{{ output.results[index].stdout_lines[68].split()[0] }}",
 "status":"{{ output.results[index].stdout_lines[68].split()[1] }}",
 "enabled":"{{ output.results[index].stdout_lines[68].split()[2] }}"
}]