[
{% if os_type != "windows" %}
  {% for disk in disk_layout_outputs.stdout_lines -%}
  {% if loop.index == loop.length %}
    {"Filesystem":"{{ disk.split()[0] }}","Size":"{{ disk.split()[1] }}","Used":"{{ disk.split()[2] }}","Avail":"{{ disk.split()[3] }}","Use%":"{{ disk.split()[4] }}","Mounted_on":"{{ disk.split()[5] }}"}
  {% else %}
      {% if loop.index != 1 %}
        {"Filesystem":"{{ disk.split()[0] }}","Size":"{{ disk.split()[1] }}","Used":"{{ disk.split()[2] }}","Avail":"{{ disk.split()[3] }}","Use%":"{{ disk.split()[4] }}","Mounted_on":"{{ disk.split()[5] }}"},
      {% endif %} 
  {% endif %}    
  {% endfor %}
{% endif %}

{% if os_type == "windows" %}
{% for disk in disk_layout_outputs.stdout_lines -%}
  {%- if loop.index == 3  %}
     {"source": "{{ disk.split()[0] | replace(":","") }}","free_size": "{{ disk.split()[1] }}","size": "{{ disk.split()[2] }}" },
  {%- endif %}  
  {%- if loop.index == 5  %}
     {"source": "{{ disk.split()[0] | replace(":","") }}","free_size": "{{ disk.split()[1] }}","size": "{{ disk.split()[2] }}" },
  {%- endif %}  
  {%- if loop.index == 7  %}
     {"source": "{{ disk.split()[0] | replace(":","") }}","free_size": "{{ disk.split()[1] }}","size": "{{ disk.split()[2] }}" },
  {%- endif %}  
  {%- if loop.index == 9  %}
     {"source": "{{ disk.split()[0] | replace(":","") }}","free_size": "{{ disk.split()[1] }}","size": "{{ disk.split()[2] }}" },
  {%- endif %}  
  {%- if loop.index == 11  %}
     {"source": "{{ disk.split()[0] | replace(":","") }}","free_size": "{{ disk.split()[1] }}","size": "{{ disk.split()[2] }}" }
  {%- endif %}  
{% endfor %}
{% endif %}
]