{
"{{ r3load_outputs.stdout_lines[5] | replace('                ','":"') }}",
"{{ r3load_outputs.stdout_lines[7] | replace('           ','":"') }}",
"{{ r3load_outputs.stdout_lines[9] | replace('           ','":"') }}",
"{{ r3load_outputs.stdout_lines[11] | replace('   ','":"') }}",
"{{ r3load_outputs.stdout_lines[13] | replace('                   ','":"') }}",
"{{ r3load_outputs.stdout_lines[15] | replace('                  ','":"') }}",
"{{ r3load_outputs.stdout_lines[17] | replace('              ','":"') }}",
"{{ r3load_outputs.stdout_lines[19] | replace('                  ','":"') }}",
"{{ r3load_outputs.stdout_lines[21] | replace('                  ','":"') }}",
"{{ r3load_outputs.stdout_lines[23] | replace('                  ','":"') }}",
"{{ r3load_outputs.stdout_lines[25] | replace('                     ','":"') }}",
"{{ r3load_outputs.stdout_lines[27] | replace('       ','":"') }}",
"{{ r3load_outputs.stdout_lines[29] | replace('    ','":"') }}"
}