{
    "{{ ulimit_outputs.stdout_lines[0] | replace(')',')":"') }}",
    "{{ ulimit_outputs.stdout_lines[1] | replace(')',')":"') }}",
    "{{ ulimit_outputs.stdout_lines[2] | replace(')',')":"') }}",
    "{{ ulimit_outputs.stdout_lines[3] | replace(')',')":"') }}",
    "{{ ulimit_outputs.stdout_lines[4] | replace(')',')":"') }}",
    "{{ ulimit_outputs.stdout_lines[5] | replace(')',')":"') }}",
    "{{ ulimit_outputs.stdout_lines[6] | replace(')',')":"') }}",
    "{{ ulimit_outputs.stdout_lines[7] | replace(')',')":"') }}",
    "{{ ulimit_outputs.stdout_lines[8] | replace(')',')":"') }}",
    "{{ ulimit_outputs.stdout_lines[9] | replace(')',')":"') }}",
    "{{ ulimit_outputs.stdout_lines[10] | replace(')',')":"') }}",    
    "{{ ulimit_outputs.stdout_lines[11] | replace(')',')":"') }}",
    "{{ ulimit_outputs.stdout_lines[12] | replace(')',')":"') }}",
    "{{ ulimit_outputs.stdout_lines[13] | replace(')',')":"') }}",
    "{{ ulimit_outputs.stdout_lines[14] | replace(')',')":"') }}",
    "{{ ulimit_outputs.stdout_lines[15] | replace(')',')":"') }}"
}
