###############################################################################################################################################################################
#                                                                                                                                                                             #
# Installation service 'SAP NetWeaver 7.5 > MS SQL Server > System Copy > Source System > Based on AS ABAP > Export Preparation', product id 'NW_Prepare_Export:NW750.MSS.CP' #
#                                                                                                                                                                             #
###############################################################################################################################################################################
# IMPORTANT DO NOT DELETE!!! SAPInstDes25Hash=$fMlVtQGkBWYe$InCTpF2BpZOJXIg58aanJJ58ipdqkcmQYCkXY+6XuH9GrmmDoQFI/DwFxG6973UZPWhAj1nL2KbZj+YBHvLVvlNwUh5kqTy/

# Password for the Diagnostics Agent specific <dasid>adm user. Provided value may be encoded.
# DiagnosticsAgent.dasidAdmPassword = 

# Windows domain in which the Diagnostics Agent users must be created. This is an optional property (Windows only).
# DiagnosticsAgent.domain = 

# Windows only: Password for the Diagnostics Agent specific 'SAPService<DASID>' user.
# DiagnosticsAgent.sapServiceDASIDPassword = 

# Specify whether you want to decluster during the export.
InitDeclusteringForExport.decluster = false

# Specify whether Software Provisioning Manager is to create ('CRE') a new database or re-use ('USE') an existing database.
MSS.Database.Action = USE

# Execute 'R3szck' in parallel. Default is 'false'.
NW_ABAP_Export_Dialog.parallelR3szchkExecution = true

# Call R3szchk option -s with DDIC with database specific ('DD', 'DB').
NW_ABAP_Export_Dialog.r3szchkDetermineSizeValue = DB

# Number of parallel 'R3szck' processes. Default is '10'.
NW_ABAP_Export_Dialog.r3szchkJobNum = 40

# Location of the 'DBSize.xml' file. This parameter is mandatory if 'NW_ABAP_Prepare_Export_Dialog.generateDBSizeXml' is set to 'false'.
# NW_ABAP_Prepare_Export_Dialog.dbSizeFileLocation = 

# Execute 'R3szck' to create the 'DBSIZE.XML' file. Default is 'true'.
# NW_ABAP_Prepare_Export_Dialog.generateDBSizeXml = true

# Target database type. Supported names are: 'ADA', 'HDB', 'DB2', 'DB4', 'DB6', 'MSS', 'ORA', 'SYB'
NW_ABAP_Prepare_Export_Dialog.targetDbType = {{ params.import.target_db_type }}

# Main export directory with ABAP and Java subdirectories
NW_Export.mainExportDir = {{ params.export.mainExportDir }}

# Database host
NW_MSS_DBINFO.dbhost = {{ hostname|upper }}

# Database system ID (DBSID)
NW_MSS_DBINFO.dbsid = {{ sid|upper }}

# The FQDN of the system
# NW_getFQDN.FQDN = 

# SAP INTERNAL USE ONLY
# NW_getFQDN.resolve = true

# Specify whether you want to set FQDN for the system.
# NW_getFQDN.setFQDN = true

# The load type chosen by the user. Valid values are: 'SAP', 'STD', 'OBR', 'HCP', 'FLASHCOPY', 'MDA', 'HBR', 'SBR'
NW_getLoadType.loadType = STD

# ABAP system is Unicode (true|false), only needed if it cannot be determined from the system.
# NW_getUnicode.isUnicode = 

# Provide  'profile' directory of SAP Netweaver-based system.
NW_readProfileDir.profileDir = \\wintest\sapmnt\{{ sid|upper }}\SYS\profile

# Windows only: The drive to use
# NW_readProfileDir.sapdrive = 

# Password of the sidadm user.
db2.sidAdmPassword = {{ passwords.adm.source.db }}

# Windows only: The domain of the SAP Host Agent user
# hostAgent.domain = 

# Password for the 'sapadm' user of the SAP Host Agent
# hostAgent.sapAdmPassword = 

# Windows only: The domain of all users of this SAP system. Leave empty for default.
# nwUsers.sapDomain = 

# Windows only: The password of the 'SAPServiceSID' user
# nwUsers.sapServiceSIDPassword = 

# UNIX only: The user ID of the 'sapadm' user, leave empty for default. The ID is ignored if the user already exists.
# nwUsers.sapadmUID = 

# UNIX only: The group id of the 'sapsys' group, leave empty for default. The ID is ignored if the group already exists.
# nwUsers.sapsysGID = 

# UNIX only: The user id of the <sapsid>adm user, leave empty for default. The ID is ignored if the user already exists.
# nwUsers.sidAdmUID = 

# The password of the '<sapsid>adm' user
nwUsers.sidadmPassword = {{ passwords.adm.source.db }}
