{"OUTPUT": 
    [
    {"TITLE": "System configuration details", "DATA": 
        [{"RESULT": "This script is not valid for {{ db_type }} database"}]}, 
        {"TITLE": "Performance overview details", "DATA": [{"RESULT": "This script is not valid for {{ db_type }} database"}]}]}