{"OUTPUT": [
  {"TITLE": "HANA Complete backup Duration Output", "DATA": [{"RESULT": "This script is not valid for {{ db_type }} database"}]},
  {"TITLE": "HANA Complete backup Frequency Output", "DATA": [{"RESULT": "This script is not valid for {{ db_type }} database"}]},
  {"TITLE": "HANA Datafile Layout Output", "DATA": [{"RESULT": "This script is not valid for {{ db_type }} database"}]},
  {"TITLE": "HANA Last Backup Output", "DATA": [{"RESULT": "This script is not valid for {{ db_type }} database"}]},
  {"TITLE": "HANA System User Status Output", "DATA": [{"RESULT": "This script is not valid for {{ db_type }} database"}]},
  {"TITLE": "HANA Differential Backup Duration Output", "DATA": [{"RESULT": "This script is not valid for {{ db_type }} database"}]},
  {"TITLE": "HANA Log backup Frequency Output", "DATA": [{"RESULT": "This script is not valid for {{ db_type }} database"}]},
  {"TITLE": "HANA Incremental Backup Duration Output", "DATA": [{"RESULT": "This script is not valid for {{ db_type }} database"}]},
  {"TITLE": "HANA Differential Backup Frequency Output", "DATA": [{"RESULT": "This script is not valid for {{ db_type }} database"}]},
  {"TITLE": "HANA Incremental Backup Frequency Output", "DATA": [{"RESULT": "This script is not valid for {{ db_type }} database"}]},
  {"TITLE": "HANA Landscape Details Output", "DATA": [{"RESULT": "This script is not valid for {{ db_type }} database"}]},
  {"TITLE": "HANA Log Backup Duration Output", "DATA": [{"RESULT": "This script is not valid for {{ db_type }} database"}]},
  {"TITLE": "Hana Log Backup Frequency Output", "DATA": [{"RESULT": "This script is not valid for {{ db_type }} database"}]},
  {"TITLE": "HANA Logmode Check Output", "DATA": [{"RESULT": "This script is not valid for {{ db_type }} database"}]},
  {"TITLE": "HANA Last Log Backup Output", "DATA": [{"RESULT": "This script is not valid for {{ db_type }} database"}]},
  {"TITLE": "Row Count", "DATA": [{"RESULT": "This script is not valid for {{ db_type }} database"}]},
  {"TITLE": "HANA License Output", "DATA": [{"RESULT": "This script is not valid for {{ db_type }} database"}]}]}