{"OUTPUT": 
    [
    {"TITLE": "Logbackupstatus", "DATA": [{"RESULT": "This script is not valid for {{ db_type }} database"}]}, 
    {"TITLE": "Archivingdirectorystatus", "DATA": [{"RESULT": "This script is not valid for {{ db_type }} database"}]},
    {"TITLE": "Overviewofredologbackups", "DATA": [{"RESULT": "This script is not valid for {{ db_type }} database"}]},
    {"TITLE": "Lastscucessfulbackup", "DATA": [{"RESULT": "This script is not valid for {{ db_type }} database"}]}]}