{"OUTPUT": [
  {"TITLE": "Clear TATGPC and TATGPCA entries", "DATA": [{"RESULT": "This script is not valid for {{ db_type }} database"}]},
  {"TITLE": "TATGPC", "DATA": [{"RESULT": "This script is not valid for {{ db_type }} database"}]},
  {"TITLE": "TATGPCA", "DATA": [{"RESULT": "This script is not valid for {{ db_type }} database"}]}]}