{"OUTPUT": [
    {"TITLE": "Alert Check Information", "DATA": [{"RESULT": "This script is not valid for {{ db_type }} database"}]}, 
    {"TITLE": "Current Alerts", "DATA": [{"RESULT": "This script is not valid for {{ db_type }} database"}]}]}