{"OUTPUT": [
    {"TITLE": "Fiori Launchpad Checks", "DATA": [{"RESULT": "This script is not valid for {{ db_type }} database"}]}, 
    {"TITLE": "Stringfields", "DATA": [{"RESULT": "This script is not valid for {{ db_type }} database"}]},
    {"TITLE": "Fiori Launchpad Intent Checks", "DATA": [{"RESULT": "This script is not valid for {{ db_type }} database"}]}]}