{"OUTPUT": 
    [
    {"TITLE": "Check and update optimizer statistics", "DATA": [{"RESULT": "This script is not valid for {{ db_type }} database"}]}, 
    {"TITLE": "Status", "DATA": [{"RESULT": "This script is not valid for {{ db_type }} database"}]},
    {"TITLE": "Joblog", "DATA": [{"RESULT": "This script is not valid for {{ db_type }} database"}]}
    ]}