{"OUTPUT": [{"TITLE": "Consistencycheckoftaora&iaora", "DATA": [{"RESULT": "This script is not valid for {{ db_type }} database"}]}, 
            {"TITLE": "TAORA", "DATA": [{"RESULT": "This script is not valid for {{ db_type }} database"}]},
            {"TITLE": "IAORA", "DATA": [{"RESULT": "This script is not valid for {{ db_type }} database"}]}]}